 body {
    background-color: #c8f1f8;
    font-family:'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#Ingresar{
position: absolute;
text-align: center;
top: 220px;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    height: 50px;
    font-size: x-large;
}
#Correo{
    position:absolute;
    top: 310px;
    left: 570px;
    font-size:medium;
}
#sesión{
    position: absolute;
    top: 300px;
    left: 50%;
    width: 300px;
    transform: translateX(-50%);
        height: 40px;
        border-radius: 3px;
        border: 1px solid #3165A5;
        background-color: white;
    }
    #Contraseña
{position: absolute;
top: 380px;
left: 600px;
font-size: medium;
transform: translateX(-50%);
}
    #password{
        position: absolute;
        top: 370px;
        left: 50%;
        width: 300px;
        transform: translateX(-50%);
            height: 40px;
            border-radius: 3px;
            border: 1px solid #3165A5;
            background-color: white;
        }
#Olvidastecontraseña{
position: absolute;
text-align: center;
top: 520px;
left: 50%;
transform: translateX(-50%);
    font-size: medium;
    color: #3165A5;
    cursor: pointer;
}
#Olvidastecontraseña:hover{
    text-decoration: underline;
}
#Nocuenta{
position: absolute;
text-align: center;
top: 560px;
left: 50%;
transform: translateX(-50%);
    font-size: medium;
    color: #3165A5;
    cursor: pointer;
}
#Nocuenta:hover{
    text-decoration: underline;
}
#Iniciar-sesion{
position: absolute;
text-align: center;
top: 440px;
left: 50%;
transform: translateX(-50%);
    width: 200px;
    height: 50px;
    font-size: x-large;
    background-color: #3165A5;
    color: white;
    border: none;
    border-radius: 3px;
}
#Iniciar-sesion:hover{
    cursor: pointer;
    background-color: #1f4f7a;
}