body {
    background-color: #c8f1f8;
    font-family:'Poppins', sans-serif;
}
#titulo{
text-align: center;
}
#home{
    position: absolute;
    font-size: 30px;
    margin-top: -60px;
    margin-left:150px;
}
#Iconofiltrar {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 22px;
    right: 200px;
}
.circulo {
  position: absolute;
right: 750px;
 bottom: 50px; 
  width: 100px;
  height: 100px;
  background-color: #3165A5;
  border-radius: 50%;
}
.circuloperfil {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 18px;
    left: 1600px;
    background-color: black;
    border-radius: 50%;
}
.linea {
    height: 1px;
    background-color: black;
    left: 200px;
    width: 1690px;
margin-top: -290px;
}