body{
    background-color: #c8f1f8;
    font-family:'Poppins', sans-serif;
}

.linea {
    height: 1px;
    background-color: black;
    width: 100%;
    margin: 10px 0;
}

.contenedor {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.Textos{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 400px;
}

.circuloperfil {
margin-right: 200px;
    width: 250px;
    height: 250px;
    background-color: black;
    border-radius: 50%;
    cursor: pointer;
}
.foto-form{
    position: absolute;
    top: 400px;
    right: 200px;
}
