body {
    background-color: #A3D2CA;
    font-family:'Poppins', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Elementoscrear {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    gap: 40px;
}

.campo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}
#Crear{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: x-large;
}
#Correo{
    font-size:medium;
}
#sesión{
    width: 300px;
        height: 40px;
        border-radius: 3px;
        border: 1px solid #3165A5;
        background-color: white;
    }
    #Contraseña{
font-size: medium;
}
    #password{
        width: 300px;
            height: 40px;
            border-radius: 3px;
            border: 1px solid #3165A5;
            background-color: white;
        }
#Sicuenta{
    font-size: medium;
    color: #3165A5;
    cursor: pointer;
}
#Sicuenta:hover{
    text-decoration: underline;
}
#Crear-cuenta{
    width: 200px;
    height: 50px;
    font-size: x-large;
    background-color: #3165A5;
    color: white;
    border: none;
    border-radius: 3px;
}
#Crear-cuenta:hover{
    cursor: pointer;
    background-color: #1f4f7a;
}