html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  overflow-y: auto; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  background: 
    linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
    url("../Iconos/Fondo-Iniciosesion.png") no-repeat center center/cover;
  padding-top: 40px; 
}


.register-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 60px); 
}

.register-box {
  background-color: rgba(255, 255, 255, 0.97);
  border-radius: 20px;
  padding: 40px 50px;
  width: 360px;
  box-shadow: 0 4px 25px rgba(0,0,0,0.4);
  text-align: center;
}

.containertitulo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5em;
}

.Logo-AdoptAR-Azul {
  width: 7rem;
  height: 7rem;
}

h2 {
  color: #1f4f7a;
  margin-bottom: 25px;
  font-size: 22px;
}


.input-group {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.icono {
  position: absolute;
  left: 12px;
  width: 18px;
  height: 18px;
  opacity: 0.8;
}

.input-group input {
  width: 100%;
  height: 40px;
  border: 1px solid #3165A5;
  border-radius: 8px;
  padding-left: 40px; 
  font-size: 14px;
  background-color: #f0f0f0;
}


#Crear-cuenta {
  width: 100%;
  height: 45px;
  font-size: 16px;
  background-color: #4A606D;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: 0.3s;
}

#Crear-cuenta:hover {
  background-color: #1f4f7a;
}

p {
  font-size: 13px;
  margin-top: 20px;
  color: #333;
}

#Sicuenta {
  color: #3165A5;
  cursor: pointer;
}

#Sicuenta:hover {
  text-decoration: underline;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.popup-content {
  background-color: #c1ffeb;
  padding: 20px 30px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

#popup-ok {
  background-color: #183446;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 16px;
  cursor: pointer;
  margin-top: 10px;
  font-size: 1rem;
}

#popup-ok:hover {
  background-color: #3165A5;
}
.toggle-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  opacity: 0.8;
  cursor: pointer;
}
