body { 
  background-color: #f1f1f1;
  font-family: 'Poppins', sans-serif; 
  margin: 0; 
  min-height: 100vh;
}

.Iconovolver {
  position: absolute;
  top: 40px;
  left: 50px;
  width: 3em;
  height: 3em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cornsilk;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  cursor: pointer;
}

.card {
  background-color: #f8ecdd;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
  padding: 2rem;
  max-width: 800px;
  width: 90%;
  margin: 50px auto;
  display: flex;         /* ✅ ESTA LÍNEA ES LA QUE HACE LA FILA */
  gap: 2rem;
  align-items: center;
}

.fotoUrl {
  width: 18rem;
  height: 18rem;
  object-fit: cover;
  border-radius: 15%;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

.Info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  font-size: 18px;
  color: #333;
  flex: 1;
}

.Boton {
  background-color: #ffe9b5;
  border: none;
  border-radius: 8px;
  padding: 12px 24px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  align-self: flex-start;
  transition: all 0.3s ease;
  margin-top: 1rem;
}

.Boton:hover {
  background-color: #ffd97a;
  box-shadow: 0 0 15px rgba(255, 217, 122, 0.6);
  transform: scale(1.03);
}

.Boton.seleccionado {
  background-color: #0077b6;
  color: #fff; 
  transform: scale(1.1);
}
