body { 
    background-color: #A3D2CA; 
    font-family: 'Poppins', sans-serif; 
    margin: 0; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .card {
    background: #fff;
    border-radius: 15px;
    padding: 2rem;
    display: flex;
    gap: 2rem;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  
  .foto {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border-radius: 10px;
    border: 3px solid #F4F1DE;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
  }
  
  .Info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 18px;
    color: #000;
    
  }
  
  .Boton {
    background-color: #F4F1DE;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: auto;
    align-self: flex-start;
    transition: all 0.3s ease;
  }
  .Boton.seleccionado {
    background-color: #0077b6;
    color: #fff; 
    transform: scale(1.1);
  }
  .Boton:hover {
    box-shadow: 0 0 15px rgba(0, 119, 182, 0.6);
  }